html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p, td, hr {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
}

.menu {
  width: 100%;
}
.menu-icon {
  text-align: center;
}
.menu-icon-left {
  text-align: left;
}
.menu-icon-right {
  text-align: right;
}
/*
#projects:hover:after {
  content: "Projects";
  display: block;
  position: relative;
  top: -16px;
  right: -16px;
  font-size: 1em;
}

#interests:hover:after {
  content: "Interests";
  display: block;
  position: relative;
  top: -16px;
  right: -16px;
  font-size: 1em;
}*/

#body {
  margin-top: 5em;
}

.company {
  text-align: left;
  font-weight: bolder;
  font-size: 1.2em;
  display: inline;
}

.date {
  /*margin-left: */
  text-align: right;
  font-weight: lighter;
  font-size: .9em;
}

.logo {
  text-align: left;
  width: 40%;
  padding-right: 2em;
}

.third {
  width: 100%;
  height: auto;
}

.work-description {
  text-align: left;
  vertical-align: top;
  padding-left: 2em;
}
/* animation stagger */
h1 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  font-size: 5em;
  text-align: right;
  vertical-align: bottom;
  /*font-weight: bold;*/
  /*display: inline;*/
}

h2 {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
  font-size: 6em;
  text-align: right;
  font-weight: bolder;
  /*display: inline;*/
}

h4 {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
  font-size: 2.5em;
  font-weight: lighter;
  /*display: inline;*/
}

#quote {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 6.3s;
  animation-duration: 2s;
  animation-delay: 6.3s;
  font-size: .8em;
  font-style: italic;
  font-weight: lighter;  
  text-align: right;
  vertical-align: top;
}

.main {
  -webkit-animation-delay: 6.8s;
  animation-delay: 6.8s;
}

.left-icons {
  -webkit-animation-delay: 7.2s;
  animation-delay: 7.2s;
  overflow: hidden;
}

.right-icons {
  -webkit-animation-delay: 7.3s;
  animation-delay: 7.3s;
  overflow: hidden;
}

.footer {
  /* 9.8 */
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 7.8s;
  animation-duration: 2s;
  animation-delay: 7.8s;
  text-align: center;
  vertical-align: bottom;
}

/* animation transition */
.bodyTransition {
  /*-webkit-animation-duration: 1s;*/
  -webkit-animation-delay: 0.2s;
  /*animation-duration: 1s;*/
  animation-delay: 0.2s;
}


.work, 
.projects, 
.interests, 
.contact {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}